body{

    background:#f8f9fa;

}

.card img{

    height:220px;

    object-fit:cover;

}

.card{

    transition:0.3s;

}

.card:hover{

    transform:translateY(-5px);

}

section{

    scroll-margin-top:80px;
    padding-top: 40px;
}